<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>error</h2>
    <div th:if="${usernameError}">
        <p th:text="${usernameError}"></p>
    </div>
    <div th:if="${emailError}">
        <p th:text="${emailError}"></p>
    </div>
    <a th:href="@{/userregform}">회원 가입으로 돌아가기</a>
</body>
</html>